SECRET_KEY=nusantarakos-secret-key-2026
MYSQL_HOST=zokekf.h.filess.io
MYSQL_PORT=3307
MYSQL_USER=db_nusakost_upelevenhe
MYSQL_PASSWORD=d270fe84ac85a436959625052e126cd1a597ccdd
MYSQL_DB=db_nusakost_upelevenhe
