# Python bytecode - JANGAN di-commit ke Git!
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv/
.env/

# Environment variables
.env
*.env

# Uploads (Vercel pakai /tmp)
static/uploads/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Vercel
.vercel/

# Temporary
*.log
*.tmp
